<div id="Componentes">
    <div id="main">
        {{> navbar}}
        <div class="contentNewcourses">
            <a class="CourseTitle">Administrar Unidades</a>
            <a class="btn btn-primary float-right"  href="/administrador/menu_cursos" >Regresar</a>
            <a class="btn btn-primary float-right"  href="/administrador/nueva_unidad/{{id}}" >Añadir nueva unidad</a>

            {{> messages}}

            <div class="card" style="height: 100%;">

                <h2 style="text-align: center;">Curso: {{id}}</h2>

                <div class='row'>
                    {{#each activeUnits}}

                    <div class="card border-dark CourseCard">
                        <img class="card-img-top" src="../images/playa-logo.png" alt={{unit}} />
                        <div class="card-body">
                            <h5 class="card-title">{{unit}}</h5>
                            <p class="card-text">{{title}}</p>
                            <p class="card-text">Fecha de creacion: {{timeago created_at}}</p>
                            <button type='button' data-toggle='modal' data-target='#{{id}}'
                                class="btn btn-danger">Deshabilitar Unidad</button>
                            <a href="/administrador/edit/{{id}}" class="btn btn-primary">Editar</a>
                            <a href="/administrador/menu_temas/{{title}}" class="btn btn-primary">Temas</a>

                            <!-- cuadro del aviso -->
                            <div class='modal fade' id={{id}} role='dialog'>
                                <div class='modal-dialog'>

                                    <!-- contenido del cuadro-->
                                    <div class='modal-content' style="color: black;">
                                        <div class='modal-header'>

                                            <h4 class='modal-title'>Curso : {{title}}</h4>
                                        </div>
                                        <div class='modal-body'>
                                            <p>Desea eliminar la siguiente unidad: {{title}} ?</p>
                                            <p>Dicha accion no se podra rehacer</p>
                                        </div>
                                        <div class='modal-footer'>
                                            <a class='btn btn-danger' href="/administrador/disable/{{id}}">Aceptar</a>
                                            <button type='button' class='btn btn-primary'
                                                data-dismiss='modal'>CANCELAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    {{else}}
                    <h4>NO SE ENCUENTRA NINGUNA UNIDAD</h4>
                    {{/each}}
                </div>


            </div>


        </div>
    </div>
</div>
</div>